<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
        <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
        <link href="/stylesheets/style.css" rel="stylesheet">
        <link href="/stylesheets/post-show.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/starability-basic.min.css">
        <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
        
    </head>
    <body>        
        <%- include ('../partials/navbar') -%>
        <%- include ('../partials/flash-messages') -%>
        <%- body -%> 
    </body>
    <script>
        const post = <%- JSON.stringify(post) %>
    </script>
    <script src="/javascripts/post-show.js"></script>
</html>
