
<link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
<style>
    body { margin: 0; padding: 0; }
    #map { width: 800px; height: 700px; }
    .marker{
        background-image: url('/images/red.png');
        width: 20px;
        height: 30px;
        cursor: pointer;
        border-radius: 5px;
    }
</style>
</head>
<body>

<h1>Title : <%= post.title  %></h1>
<div><%= post.description  %></div>
<div><%= post.price %>$</div>
<div><%= post.location  %></div>
<% post.images.forEach(function(image){ %>
    <img src="<%= image.url %>" alt="image" width="200px" height="100px">
    
<% }); %>
<div id="map"></div>
<div>
    <a href="/posts/<%= post.id %>/edit"><button>Edit</button></a>
</div>
    
<form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
    <button type="submit">Delete</button> 
</form>

<script>
var post = <%- JSON.stringify(post) %>

mapboxgl.accessToken = 'pk.eyJ1Ijoic2Fua2V0MTIxMjEyIiwiYSI6ImNsaG5mMXg4MzBtNHUzam1ucnZha3h3eGIifQ.CKvZeRUIhLxNLLLJ5-hNcA';

//  Creating map object and connecting it to div with id 'map'
const map = new mapboxgl.Map({
container: 'map',
// Choose from Mapbox's core styles, or make your own style with Mapbox Studio
style: 'mapbox://styles/mapbox/outdoors-v12',
center: post.coordinates,
zoom: 6
});

//create a class element of the marker and provide the properties in the CSS, do this step for custom marker
var el = document.createElement('div');
el.className = 'marker';

new mapboxgl.Marker(el)
.setLngLat(post.coordinates) //  This function take values in Longitude and Latitude format
.setPopup(new mapboxgl.Popup().setHTML(`Title : ${post.title} \n Place: ${post.location}`)) // add popup
.addTo(map);    //  Add marker on the map

</script>